.news-tag{
  color: car(--primary-color);
  font-size: 16px;
  line-height: 1.35;
  @extend %relative;
  margin-bottom: 24px;
  text-transform: uppercase;
  @extend %primary-font;
  &::before{
    position: absolute;
    content: '';
    height: 4px;
    width: 30px;
    background-color: var(--primary-color);
    bottom: -8px;
    left: 0;
  }
}