.header{
    &-top {
      padding: 8px 0;
      @include tablet-max {
        display: none;
      }
      &__wrapper {
        @include flex-aligncenter;
        @include justify-content(space-between);
        .site-branding {
            @include flex-aligncenter;
            width: 300px;
            height: 70px;
            @include tablet-max {
                width: 240px;
                height: 80px;
            }
        }
        &--right {
          a {
            margin-left: 8px;
          }
          .header-top--right__btn {
            @include flex-end-center;
            a{
                padding: 12px 40px;
                border-radius: 100px;
                font-size: 16px;
                color: var(--primary-color);
                &:hover{
                    color: $white-color;
                }
            }
            .donate{
                color: $white-color;
            }
            .header-search {
                @extend %relative;
                .openBtn {
                    border: none;
                    padding: 10px 15px;
                    font-size: 20px;
                    cursor: pointer;
              }
              .overlay {
                display: none;
                height: 100%;
                position: fixed;
                width: 100%;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0, 0.8);
                &-content {
                  @extend %relative;
                  width: 100%;
                  top: 50%;
                  transform: translateY(-50%);
                  text-align: center;
                  form {
                    @include flex-center-center;
                  }
                  button {
                    border-radius: 0;
                    padding: 21px 48px;
                  }
                }
                .closebtn {
                  @extend %absolute;
                    color: $white-color;
                  font-size: 50px;
                  top: 20px;
                  right: 40px;
                  cursor: pointer;
                  &:hover {
                    color: #ccc;
                  }
                  button {
                    &:hover {
                      background: #ddd;
                    }
                  }
                }
                input[type=text] {
                  padding: 20px 15px;
                  font-size: 18px;
                  border: none;
                  float: left;
                  width: 60%;
                  background: $white-color;
                  &:hover {
                    background: #f1f1f1;
                  }
                }
              }
            }
          }
        }
      }
    }
    &-buttom {
        @include tablet-max{
            display: none;
        }
        .menu-wrap{
            margin: 0;
            @include flex-aligncenter;
            @include justify-content(space-between);
            gap: 1.5px;
            .menu-item{
                background-color: var(--primary-color);
                width: 25%;
                &:hover{
                    background-color: var(--secondary-color);
                }
                a{
                    color: $white-color;
                    display: block;
                    @extend %primary-font;
                    padding: 12px 28px;
                }
                &:first-child{
                    background: var(--secondary-color);
                }
            }
        }
    }
  }
  .header-mobile {
    width: 100%;
    padding: 12px 0;
    @include mobile {
      padding: 16px 0;
    }
    @include desktop-mini {
      display: none;
    }
    &__wrapper {
      @include display-flex;
      align-items: baseline;
      justify-content: space-between;
      .site-branding {
        width: 250px;
        height: 53px;
      }
      &--right {
        .hamburger {
          @include tablet-max {
            display: block;
            cursor: pointer;
          }
          .line {
            width: 30px;
            height: 3px;
            background-color: $black-color;
            margin: 6px 0;
            transition: all 0.3s ease-in-out;
          }
        }
        .mob-nav-menu {
          z-index: 99;
          margin: 0;
          background: $white-color;
          position: fixed;
          height: 100vh;
          left: -100%;
          top: 70px;
          gap: 0;
          flex-direction: column;
          width: 100%;
          text-align: center;
          transition: 0.3s ease;
          padding-top: 20px;
          .mob-nav-item {
            .mob-nav-links {
              @include flex-aligncenter;
              justify-content: space-between;
              padding: 4px 40px;
              font-size: 16px;
            }
            .mob-sub-menu {
              display: none;
              li {
                text-align: start;
                margin-left: 40px;
              }
            }
            .mob-sub-menu.active {
              display: block;
            }
          }
        }
        .mob-nav-menu.active {
          left: 0;
        }
      }
    }
  }
  .sub-menu {
    display: none;
    opacity: 1;
    transform: translateY(0);
  }
  .site-header {
    @include tablet-max {
      @include flex-aligncenter;
      justify-content: space-between;
    }
  }
  #icon {
    margin-bottom: 0;
    vertical-align: middle;
    color: $black-color;
    font-size: 1.2rem;
    &:hover {
      cursor: pointer;
    }
  }