//base
@import "./base/base";

//Components
@import "./components/_navbar";
@import "./components/_buttons";
@import "./components/_owl-custom";
@import "./components/_common";
@import "./components/_elements";
@import "./components/_comments";
@import "./components/_tags";
@import "./components/_form";
@import "./components/_gallery";
@import "./components/_rating";
@import "./components/_header";

//layout
@import "./layouts/_banner";
@import "./layouts/_counter";
@import "./layouts/_card";
@import "./layouts/_cta";
@import "./layouts/_popop";
@import "./layouts/_footer";
@import "./layouts/_icon-grid";
@import "./layouts/_notification-bar";
@import "./layouts/_title";
@import "./layouts/_video-section";

body,
html {
  color: $text-gray;
  font-size: 16px;
  @extend %regular;
  margin: 0;
  scroll-behavior: smooth;
  @extend %secondary-font;
  line-height: 1.78;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  scroll-padding-top: 125px;
  @include laptop {
    font-size: 18px;
  }
}
body {
  &.custom-background-image .site,
  &.custom-background-color .site {
    margin: 20px;
    max-width: 90%;
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
    @include box-shadow(0 0 15px rgba(0, 0, 0, 0.1));
  }
}
